## Bài 1:

In [26]:
"""cho một danh sách sản phẩm như sau:"""
products = {
'SMART WATCH': 550,
'PLAYSTATION': 500,
'PHONE': 1000,
'LAPTOP': 600,
'TABLET': 400
}
"""Viết chương trình hiển thị các sản phẩm có giá nhỏ hơn hoặc bằng với giá tiền mà người dùng nhập vào"""
price = int(input('Enter price you want to check: '))
product_check = []
for i in products.items():
    if i[1] <= price:
        product_check.append(i)
if len(product_check) == 0:
    print('There\'s no product match your price')
else:
    print('List of product you need:')
    product_check = sorted(product_check, key=lambda x:x[1], reverse=True)
    for i in product_check:
        print(f'{i[0]}: {i[1]}')

Enter price you want to check: 500
List of product you need:
PLAYSTATION: 500
TABLET: 400

## Bài 2: Size of Set

In [3]:
"""hãy viết một chương trình tính toán độ dài của một set """

'hãy viết một chương trình tính toán độ dài của một set '

In [1]:
# input
set1 = ('A',1,'B',2,'C',3)
set2 = ('Geek1','Raju','Geek2','Nikhil','Geek3','Deepanshu')
set3 = ((1,'Lion'),(2,'Tiger'),(3,'Fox'))

In [ ]:
# Output
size of set1: 6
size of set2 : 6
size of set1: 3

In [14]:
# Your code 
set1 = ('A',1,'B',2,'C',3)
set2 = ('Geek1','Raju','Geek2','Nikhil','Geek3','Deepanshu')
set3 = ((1,'Lion'),(2,'Tiger'),(3,'Fox'))
# code below this line
def set_len(st, name):
    print(f'size of {name}: {len(st)}')
set_len(set1,'set1')
set_len(set2,'set2')
set_len(set3,'set3')
# code above this line

size of set1: 6
size of set2: 6
size of set3: 3

### Bài 3 : Maximum and minimum of set

In [5]:
# Hãy tìm giá trị lớn nhất và giá trị nhỏ nhất trong set 
# input 
set1 = (3,5,6,7,35,7,4,323,4,57,34)
# output :
'''
max is 323
min is 3
'''

In [13]:
# Your code 
set1 = (3,5,6,7,35,7,4,323,4,57,34)
# code below this line
set1 = list(set1)
max_s = set1[0]
min_s = set1[0]
for i in set1:
    if max_s < i:
        max_s = i
    if min_s >i:
        min_s = i
print(f'max is {max_s}\nmin is {min_s}')
# code above this line

max is 323
min is 3

### Bài 4 : common set

In [7]:
# Cho 2 biến set1 và set2 . Hãy kiểm tra xem set1 và set2 có it nhất một giá trị giống nhau hay không . Nếu có thì hãy in ra  True , nếu không có thì in ra False
# input 
set1 = (1,2,3,4,5,6)
set2 = (5,6,7,8,9,10)
# output
True

True

In [37]:
# Your code 
set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9,10}
# code below this line
check = False
for i in set1:
    if i in set2:
        check = True
        break
print(check)
# code above this line
check = False
if len(set1&set2) != 0:
    check = True
print(check)

True
True

### Bài 5  common set 2

In [10]:
# cho 3 set khác nhau . Hãy in ra một set chứa các phần tử chung của 3 set đã cho 
# input 
st1 = (1,4,5,6,677,889,445,2234)
st2 = (9,2,3,4,55,677,122,678,112)
st3 = (3,4,15,20,677,30,40,80)
#output
(4,677)

(4, 677)

In [39]:
# your code 
st1 = {1,4,5,6,677,889,445,2234}
st2 = {9,2,3,4,55,677,122,678,112}
st3 = {3,4,15,20,677,30,40,80}
# code below this line
st = []
for x in st1:
    if x in st2 and x in st3:
        st.append(x)
st = set(st)
print(st)
# code above this line
print(st1&st2&st3)

{4, 677}
{4, 677}

### Bài 6 : List to dict

In [12]:
# cho 2 list có cùng số phần tử với nhau . Hãy tao ta một dict từ 2 list theo format dưới đây:
# input
keys = ["Ten","Twenty","Thirty"]
values = [10,20,30]

In [15]:
# output
{"Ten":10,"Twenty": 20 ,"Thirty": 30}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [22]:
# your code 
keys = ["Ten","Twenty","Thirty"]
values = [10,20,30]
# code below this line
dic = {}
for i in range(len(keys)):
    dic[keys[i]] = values[i]
print(dic)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

###  Bài 7 Merge dictionary

In [17]:
# Hãy gộp 2 dictionary thành một 
# input
dict1 = {'ten':10,'twenty':20,'Thirty':30}
dict2 = {'Thirty':30,'Fourty':40,"Fifty":50}
# ouput
{'ten':10,'twenty':20,'Thirty':30,'Fourty':40,"Fifty":50}

{'ten': 10, 'twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [45]:
# your code 
dict1 = {'ten':10,'twenty':20,'Thirty':30}
dict2 = {'Thirty':30,'Fourty':40,"Fifty":50}
# code below this line
#1
dic = dict1 | dict2
print(dic)
#2
dic = tuple(dict1.items()) + tuple(dict2.items())
dic = dict(dic)
print(dic)
#3
dic = {}
for i in dict1.items():
    dic[i[0]] = i[1]
for i in dict2.items():
    dic[i[0]] = i[1]
print(dic)
#4
dict1.update(dict2)
print(dict1)
# code above this line

{'ten': 10, 'twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'ten': 10, 'twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'ten': 10, 'twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'ten': 10, 'twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Bài 8 where is the value?

In [22]:
# Hãy in ra giá trị của "History" trong dictionary dưới đây 
sampleDict = {
    "class":{
        "student":{
            "name": "Mike",
            "marks":{
                "physics":70,
                "history": 80
            }
        }
    }
}
# Output
80

80

In [23]:
# Your code
sampleDict = {
    "class":{
        "student":{
            "name": "Mike",
            "marks":{
                "physics":70,
                "history": 80
            }
        }
    }
}
# code below this line 
print(sampleDict['class']['student']['marks']['history'])
# code above this line

80

### Bài 9 Detele set of keys from a dictionary?

In [24]:
# Hãy xóa các key có trong set dưới đây khỏi dictionary 
# input
Dict = {
    "name":"Alice",
    "age": 25,
    "salary": 8000,
    "city": "London"
}

In [25]:
# ouput:
{"city":"London","age":25}

{'city': 'London', 'age': 25}

In [27]:
# Your code 
dict1 = {
    "name":"Alice",
    "age": 25,
    "salary": 8000,
    "city": "London"
}
KeysToRemove = {"name",'salary'}
# code below this line
for i in KeysToRemove:
    del dict1[i]
print(dict1)
# code above this line

{'age': 25, 'city': 'London'}

### Bài 10 check if a value 200 exists in a dictionary

In [27]:
# hãy kiểm tra xem số 200 có phải là value của dictionary dưới đây hay không.
# input 
sampleDict = {"a":100,"b":200,"c":300}
# Output
True

True

In [48]:
# Your code 
sampleDict = {"a":100,"b":200,"c":300}
# code below this line 
check = False
for i in sampleDict.values():
    if i == 200:
        check = True
        break
print(check)
# code above this line

True

### Bài 11 rename key

In [ ]:
# Hãy thay thế key city thành location trong dictionary dưới đây.
# Input
dict1 = {
    "name":"Alice",
    "age": 25,
    "salary": 8000,
    "city": "London"
}
#ouput
dict1= {
    "name":"Alice",
    "age": 25,
    "salary": 8000,
    "location": "London"
}

In [50]:
# Your code 
dict1 = {
    "name":"Alice",
    "age": 25,
    "salary": 8000,
    "city": "London"
}
# code below this line
#1
# dict1['location'] = dict1['city']
# del dict1['city']
# print(dict1)
#2
dict1['location'] = dict1.pop('city')
print(dict1)
# code above this line

{'name': 'Alice', 'age': 25, 'salary': 8000, 'location': 'London'}

### Bài 12  Key of minimum value

In [32]:
# Hãy in ra key chứa value nhỏ nhất trong dictionary dưới đây
# Input
sampleDict = {
    'physics':80,
    'Math': 65,
    "History": 75
}
# Output
Math

In [55]:
# Your code 
sampleDict = {
    'physics':80,
    'Math': 65,
    "History": 75
}
# code below this line
print(min(sampleDict.items(), key= lambda x: x[1])[0])

min_score = min(sampleDict.values())
for i, k in sampleDict.items():
    if k == min_score:
        print(i)
        break
# code above this line

Math
Math

### Bài 13 New salary

In [34]:
# Hãy tăng lương (salary) cho Brad từ 6500 lên 8500 trong dictionary dưới đây.
# input 
sampleDict = {
    "emp1":{"name":"john","salary":7800},
    "emp2":{"name":"Emna","salary":8000},
    "emp3":{"name":"Brad","salary":6500}
}
# output
sampleDict = {
    "emp1":{"name":"john","salary":7800},
    "emp2":{"name":"Emna","salary":8000},
    "emp3":{"name":"Brad","salary":8500}
}

In [62]:
# Your code 
sampleDict = {
    "emp1":{"name":"john","salary":7800},
    "emp2":{"name":"Emna","salary":8000},
    "emp3":{"name":"Brad","salary":6500}
}
# code below this line 
for i in sampleDict.values():
    print(i)
    if i["name"] == "Brad":
        i["salary"] = 8500
# code above this line

{'name': 'john', 'salary': 7800}
{'name': 'Emna', 'salary': 8000}
{'name': 'Brad', 'salary': 6500}